<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772220544408-1qf6ue8e2hfg9n8s3sll3r6cdhe85mr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772220544408-1qf6ue8e2hfg9n8s3sll3r6cdhe85mr8</string>
	<key>API_KEY</key>
	<string>AIzaSyBxQCmRBqVudTiZmMD3z6CqpA-6MQYot74</string>
	<key>GCM_SENDER_ID</key>
	<string>772220544408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llghdud921.PersonalScheduler</string>
	<key>PROJECT_ID</key>
	<string>jerryscheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>jerryscheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772220544408:ios:251ec0a607de7e072e37ed</string>
</dict>
</plist>