<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120471168256-jnr82s6gmjaf9o3v1imtjvic3852r93d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120471168256-jnr82s6gmjaf9o3v1imtjvic3852r93d</string>
	<key>API_KEY</key>
	<string>AIzaSyDy71tuvB8jvmF9M8jPQwAas6QstMeA6v8</string>
	<key>GCM_SENDER_ID</key>
	<string>120471168256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.longcha.PersonalScheduler</string>
	<key>PROJECT_ID</key>
	<string>personalscheduler-86c68</string>
	<key>STORAGE_BUCKET</key>
	<string>personalscheduler-86c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120471168256:ios:9d542a6d3c233b70963fe5</string>
	<key>DATABASE_URL</key>
	<string>https://personalscheduler-86c68-default-rtdb.firebaseio.com</string>
</dict>
</plist>