<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDeleggateProxyEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>47066388505-fscpuurqvokg9ol019juoickc6hhkc9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47066388505-fscpuurqvokg9ol019juoickc6hhkc9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAaueXLpBjEA2XcGwfzpLoGcPeICqqGrR4</string>
	<key>GCM_SENDER_ID</key>
	<string>47066388505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.bard.PersonalScheduler</string>
	<key>PROJECT_ID</key>
	<string>personalscheduler-fec2d</string>
	<key>STORAGE_BUCKET</key>
	<string>personalscheduler-fec2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:47066388505:ios:327e764424c8e0d57a3288</string>
</dict>
</plist>
