<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438695467173-i11odgtcg67bf01i11ifjt537v6e1i1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438695467173-i11odgtcg67bf01i11ifjt537v6e1i1g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-y3fXkZp-G-_syOjuHeDnXris4P3DHlc</string>
	<key>GCM_SENDER_ID</key>
	<string>438695467173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.PersonalScheduler</string>
	<key>PROJECT_ID</key>
	<string>personalscheduler-f8794</string>
	<key>STORAGE_BUCKET</key>
	<string>personalscheduler-f8794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438695467173:ios:19b2fef26b62250746154c</string>
</dict>
</plist>