<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926429542089-tjvac461anr5tlts4qhrckhuvujrkv4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926429542089-tjvac461anr5tlts4qhrckhuvujrkv4k</string>
	<key>API_KEY</key>
	<string>AIzaSyApI6j-wrGGYIqmei7a1g7hHEJ9ZmDfblo</string>
	<key>GCM_SENDER_ID</key>
	<string>926429542089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.sunnyCookie.PersonalScheduler</string>
	<key>PROJECT_ID</key>
	<string>ios-scheduler-8bbd3</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-scheduler-8bbd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926429542089:ios:4e69d3d36f28c0f3f67f18</string>
</dict>
</plist>